<main class="error-page-main">
    <header class="error-page-header">
        <div class="error-page-header-items">
            <common-button title="Volver" [isFirst]="true" (onCommonButtonClicked)="back($event)"></common-button>
            <h1 class="error-page-header-title">{{title}}</h1>
        </div>
    </header>
    <section class="error-page-main-section">
        <p>
            Estimado asociado, reucerda que para mantener el orden y las buenas maneras de nuestra estimada asociación,
            debemos disfrutar
            de los links siguiendo las pautas acordadas en nuestra reunión fundacional:
        </p>
        <ol>
            <li>Primero los links de animales</li>
            <li>Después los de libros</li>
            <li>Después los de música</li>
            <li>Y por último los de salud</li>
        </ol>
    </section>
</main>