.page-main {
  width: 100%;
  margin-top: 2em;
  border: 1px solid black;
  overflow: auto;
  & .page-main-section {
    display: flex;
    justify-content: space-between;
    & .page-main-section-article {
      padding: 1em;
      width: 80%;
      & .page-main-section-article-links {
        border: 1px solid black;
        margin: 0 auto;
        border-spacing: 0;
        border-collapse: collapse;
        & tbody {
          margin-top: 1em;
        }
        & tbody tr {
          &:nth-child(odd) {
            background-color: #cfe2f3;
          }
          &:nth-child(even) {
            background-color: #a4c2f3;
          }
          border: 1px solid black;
          &:hover {
            cursor: pointer;
            background-color: #00ff04;
          }
          & td {
            border: 1px solid black;
            padding: 0.3em;
          }
        }
        & thead {
          border: 0;
          & th {
            padding: 0.3em;
          }
        }
      }
    }
    & .page-main-section-aside {
      border-left: 1px solid black;
      padding: 1em;
      text-align: center;
      & input:last-of-type {
        margin-bottom: 1em;
      }
      & input,
      textarea {
        display: block;
        width: 100%;
        padding: 0.5em;
      }
      & a {
        margin-top: 1em;
      }
    }
  }
  & .page-header {
    padding: 1em;
    border-bottom: 1px solid black;
    & .page-header-items {
      display: flex;
      & .page-header-title {
        text-align: center;
        flex-grow: 1;
        font-size: 2em;
        margin: 0;
      }
    }
  }
}
